<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
        
	<bean id="stu" class="com.deeptech.spring1.Student">
	<property name="student_id" value="100"></property>
	<property name="student_name" value="suhas"></property>
	</bean>
   

</beans>